.title {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 50px;
}

.test-wrapper {
	margin-left: 15%;
}

.btn {
	margin-left: 40%;
	margin-bottom: 50px;
}

input {
	margin-right: 10px;
}

ul {
	font-size: 1.25rem;
	font-weight: 500;
}

li {
	font-size: 1rem;
	list-style: none;
	font-weight: 400;
}

li:first-child {
	margin-top: 20px;
}

li:last-child {
	margin-bottom: 20px;
}

.modal {
	display: block;
}

.modal .btn {
	margin: 20px 0 0 0;
}

.modal-content {
	margin: 0 auto;
	padding: 20px;
	width: 50%;
	margin-top: 150px;
	box-shadow: 0 3px 9px rgba(0,0,0,.5);
}

.hide {
	display: none;
}