.title {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 50px;
}

ol {
	margin-left: 15%;
}

.btn {
	margin-left: 40%;
	margin-bottom: 50px;
}

ol div {
	margin-top: 20px;
	margin-bottom: 20px;
}

.modal {
	display: block;
}

.modal-dialog {
	margin-top: 150px;
}

.modal-content {
	box-shadow: 0 3px 9px rgba(0,0,0,.5);
}

.hide {
	display: none;
}