<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>js_13-14</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<link rel="stylesheet" href="css/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="js/tmpl.js"></script>
	<script src="js/script.js"></script>
</head>
<body>

	<div class="wrapper">
		<h3 class="title">Тест по программированию</h3>
		<form id="form">

			<script type="text/html" id='test'>

				<div class="test-wrapper">
					<ul id="q<%= questionNum %>"><%= question %>
						<li>
							<label><input type="checkbox" id="checkbox-1"><%= ansver1 %> </label>
						</li>
						<li>
							<label><input type="checkbox" id="checkbox-2"><%= ansver2 %> </label>
						</li>
						<li>
							<label><input type="checkbox" id="checkbox-3"><%= ansver3 %> </label>
						</li>
					</ul>
				</div>

			</script>

			<button class="check-button btn btn-primary" value="checkbutton" id="check-button">Проверить мои результаты</button>
		</form>
	</div>

	<div class="modal hide">
		<div class="modal-wrapper">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Ваши результаты:</h4>
				</div>
				<div class="modal-body">

				</div>

				<div class="modal-footer">
				<button class="close-button btn btn-primary">Закрыть</button>
				</div>
			</div>
		</div>
	</div>

</body>
</html>